<div class="container" ng-controller='listController'>

	<table border="1px solid green" >
		<thead>
			<tr>
				<td ng-click="order('first_name')">First Name</td>
				<td ng-click="order('last_name')">Last Name</td>
				<td ng-click="order('fav_lang')">Favorite Language</td>
		</tr>
		</thead>
		<tbody ng-repeat='user in users | orderBy:predicate:reverse'>
			<tr>
				<td> {{ user.first_name }}
					<span class="sortorder" ng-show="predicate === 'first_name'" ng-class="{reverse:reverse}"></span>
				</td>
				<td> {{ user.last_name }}
	<span class="sortorder" ng-show="predicate === 'last_name'" ng-class="{reverse:reverse}"></span>
				</td>
			</td>
			<td> {{ user.fav_lang }}
	<span class="sortorder" ng-show="predicate === 'fav_lang'" ng-class="{reverse:reverse}"></span>
			</td>
			</tr>
		</tbody>
	</table><br><br>








</div>
